.category__item{
    text-align: center;
    border: 1px solid var(--border-color);
    padding: .625rem .625rem 1.25rem;
    border-radius: 1.25rem;
}

.category__img{
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}

.category__title{
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.button-category-prev,
.button-category-next{
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
}

.button-category-prev{
    left: 79.6%;
    transform: translateY(-3rem);
}

.button-category-next{
    right: 17%;
    transform: translateY(-3rem);
}

@media screen and (max-width: 1200px){
    .button-category-prev,
    .button-category-next{
        width: 26px;
        height: 26px;
    }

    .button-category-prev{
        left: 925px;
    }
}

@media screen and (max-width: 576px){
    .category__item{
        padding-bottom: 1rem;
    }

    .category__img{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 350px){
    .button-category-prev,
    .button-category-next{
        display: none;
    }
}